#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: white;
  color: rgb(236, 238, 241);
}

#custom-bootstrap-menu.navbar-default {
  background-color: #356391;
  border-radius: 16px;
  border-width: 0;
  color: white;
  font-size: 14px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  background-color: blue;
  background-color: #356391;
  background: -webkit-linear-gradient(top, rgba(248, 248, 248, 0) 0%, #356391 100%);
  background: -moz-linear-gradient(top, rgba(248, 248, 248, 0) 0%, #356391 100%);
  background: -o-linear-gradient(top, rgba(248, 248, 248, 0) 0%, #356391 100%);
  background: -ms-linear-gradient(top, rgba(248, 248, 248, 0) 0%, #356391 100%);
  background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, #356391 100%);
  color: rgb(236, 238, 241);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  background-color: rgb(43, 113, 192);
  color: rgb(1, 1, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  background-color: rgb(43, 113, 192);
  color: rgb(1, 0, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #2b71c0;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #2b71c0;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #2b7;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #3c9ce7;
}

#con1 {
  background-color: #111;
}

.row {
  background-size: 100% 100% !important;
  color: #2b71c0;
  font: italic bold 20px/60px Georgia, serif;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 1);
}

.btn {
  background-color: #356391;
  border-color: #3c9ce7;
  color: white;
  text-shadow: none;
}

.col-xs-3 {
  padding-left: 0;
  padding-right: 0;
}

.divforbtn {
  text-align: center;  
}

.img-circle {
  border: 7px solid #356391;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px #888888;
}

h2 {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.6);
  font-size: 45px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.prow {
  margin-bottom: 25px;
  margin-top: 50px;
}

.img-square {
  border: 7px solid #000;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  height: 200px;
  margin: 0 auto;
  width: 100%;
}

#ProjectLink:after {
  background: rgb(34, 34, 34);
  background: rgba(34, 34, 34, 0.75);
  content: '\A';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  width: 100%;
}

#ProjectLink:hover:after {
  opacity: 1;
}

h4 {
  background-color: blue;
  background-color: rgba(60, 120, 200, 0.75);
  color: #EEEEEE;
  font-size: 25px;
  text-shadow: none;
  width: 100%;
}

#home {
  background: url(http://i1190.photobucket.com/albums/z454/jason_sherrill1/building_zpsyeqjduxv.jpg) no-repeat center center fixed;
  padding-bottom: 250px;
  padding-top: 50px;
}

#summary {
  color: #1F202C;
  font-size: 16px;
  line-height: 32px;
  margin-top: 100px;
  padding: 10px;
  text-shadow: none;
}

#pic {
  height: 150px;
  width: 150px;
}

#portfolio {
  background-color: #222;
  padding: 20px;
  padding-top: 50px;
}

#about {
  background: url(http://i1190.photobucket.com/albums/z454/jason_sherrill1/businessman_zpsk1l431mu.jpg) no-repeat center center fixed;
  padding-bottom: 500px;
  padding-left: 0;
  padding-top: 400px;
}

#contact {
  background: url(http://i1190.photobucket.com/albums/z454/jason_sherrill1/Antique%20Typewriter_zpsumfhdb61.jpg) no-repeat center center fixed;
  height: 600px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
}

#references {
  background: rgba(200,200,200, 0.5);
  color: #111111;
  font-size: 12px;
  margin:0px;
  margin-top:100px;
  margin-left: 25px;
  text-shadow: none;
  width: 210px;
}

#references a {
  color: rgb(50, 0, 250);
  color: rgba(50, 0, 250, 1);
}

p {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.hide {
  color: transparent;
}

.tumbler {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  margin-left: 100px;
  padding: 10px;
  width: 215px;
}

.dark {
  color: #662D2D;
}

.light {
  color: #545f69;
}

.bright {
  color: #20204A;
}

.light2 {
  color: #545f69;
}

.shiny {
  color: #989805;
}

.awesome {
  color: #9A2134;
}

@media screen and (min-height: 600px) {
  h4 {
    padding-left: 5px;
    font-size: 30px;
  }
  #about {
    padding-left: 50px;
  }
  #contact {
    padding-left: 100px;
    padding-right: 100px;
    height: 800px;
  }
}

@media screen and (min-width: 1000px) {
  .img-square {
    height: 250px;
    width: 300px;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 60px;
  }
  #home {
    padding-bottom: 350px;
  }
  .row {
    background-size: 100% 100% !important;
    color: #2b71c0;
    font: italic bold 35px/80px Georgia, serif;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 1);
  }
  #summary {
    font-size: 25px;
    margin-top: 200px;
  }
  .tumbler {
    width: 375px;
  }
}